
@{
    Layout = "Layout";
}
<div class="barra">
    <ol id="lst">
        <li>Marlene Abigail Salas Guerrero</li>
        <li><a href="~/Home/MiPerfil">Mi perfil</a></li>
    </ol>
    <img id="img" src="~/Assets/Yo.jpg">
</div>

<div class="principal">
    <img src="~/Assets/Computadora.jpg">
    <section>
        <h1>Programación web</h1>
        <label id="sub">Semestre:</label><br>
        <label>7mo</label><br><br>
        <label id="sub">Periodo:</label><br>
        <label>AGO2023-DIC2023</label>
    </section>
</div>     