@{
    Layout = "Layout";
}

<div class="divperfil">
    <section id="nombre">
        <img src="~/Assets/Yo.jpg">
        <section>
            <h3>Marlene Abigail Salas Guerrero</h3>
            <label>Ing. en Sistemas Computacionales</label>
        </section>
    </section>
    <section id="general">
        <label id="inf">Información general</label><br>
        <label id="sub">Número de control: </label><br>
        <label>201G0614</label><br><br>

        <label id="sub">Semestre: </label><br>
        <label>7mo</label><br><br>

        <label id="sub">Correo electrónico:</label> <br>
        <label>201G0614@rcarbonifera.tecnm.mx</label><br><br>
    </section>
</div>